{% extends 'base.html' %}

{% block content %}
    <section id="about" class="my-4">
        <h2>Про себе</h2>
        <p>Я - [Ваше ім'я], спеціаліст в галузі [ваша спеціалізація]. Маю досвід у [ваша діяльність].</p>
    </section>
    <section id="education" class="my-4">
        <h2>Освіта</h2>
        <ul>
            <li>Навчальний заклад 1, Рік закінчення</li>
            <li>Навчальний заклад 2, Рік закінчення</li>
        </ul>
    </section>
    <section id="skills" class="my-4">
        <h2>Навички</h2>
        <ul>
            <li>Навичка 1</li>
            <li>Навичка 2</li>
            <li>Навичка 3</li>
        </ul>
    </section>
    <section id="experience" class="my-4">
        <h2>Досвід роботи</h2>
        <ul>
            <li>Проект 1 - опис проекту</li>
            <li>Проект 2 - опис проекту</li>
        </ul>
    </section>
{% endblock %}
