{% extends 'base.html' %}
{% block title %}Greeting users{% endblock %}

{% block header %}
    <div class="bg-dark">
        <div class="container py-3">
            <h1 class="text-light"><a href="{{ url_for('home') }}" class="text-light text-decoration-none">Flask Application</a></h1>
        </div>
    </div>
{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        <a href="{{ url_for('user.greetings', name='John') }}" class="nav-link">Greet John</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('user.admin') }}" class="nav-link">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container py-5">
        <h1>Hello:) </h1>
        <h3>User: {{ name | upper }}</h3>
        {% if age %}
            <h3 style="color: green">Age: {{ age }}</h3>
        {% else %}
            <h3 style="color: red">Age is unknown.</h3>
        {% endif %}
    </div>
{% endblock %}
